@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html,body{
  height: 100%;
  width: 100%;
  font-family:'Poppins', sans-serif;
  color: #222;
}
.bg{
  width: 100%;
  height: 100%;
  background-image: url('img/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg h1{
  font-size: 40px;
  font-weight: 700;
  color: yellow;
}